.personal {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  position: relative;
  height: 100%;
  background-color: #162026;
  color: #f3f3f3; }
  .personal .pageTitle {
    position: relative;
    z-index: 2;
    font-size: 0.53333rem;
    text-align: center;
    padding-top: 0.48rem; }
  .personal:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
            transform: translateY(-70%);
    background-color: #263137;
    width: 100%;
    height: 2.66667rem;
    border-radius: 27%; }

.baseInfo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 3.94667rem;
  margin-top: 0.26667rem;
  margin-left: 0.53333rem;
  margin-right: 0.53333rem;
  color: #f3f3f3;
  position: relative; }
  .baseInfo:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #5e5e5f;
    color: #5e5e5f;
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
            transform: scaleY(0.5); }
  .baseInfo .leftBox img {
    width: 3.28rem;
    height: 3.28rem;
    border: 1px solid #7f6d55; }
  .baseInfo .leftBox .personalName {
    text-align: center;
    font-size: 0.4rem; }
  .baseInfo .rightBox {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0.4rem;
    font-size: 0.37333rem; }
    .baseInfo .rightBox .rightBox-top .cell {
      padding: 0.02667rem 0; }
    .baseInfo .rightBox .rightBox-top .eMail {
      color: #f3f3f3; }
    .baseInfo .rightBox .rightBox-bottom {
      position: relative;
      margin-top: 0.06667rem;
      padding-top: 0.2rem; }
      .baseInfo .rightBox .rightBox-bottom:before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        border-top: 1px solid #5e5e5f;
        color: #5e5e5f;
        -webkit-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
                transform-origin: 0 0;
        -webkit-transform: scaleY(0.5);
            -ms-transform: scaleY(0.5);
                transform: scaleY(0.5); }
      .baseInfo .rightBox .rightBox-bottom .cell-l .lightLine {
        display: block;
        width: 0.13333rem;
        background-color: #2b941f;
        font-size: 0.9em;
        margin-right: 0.10667rem; }
      .baseInfo .rightBox .rightBox-bottom .skill .cell {
        padding: 0.06667rem 0; }
      .baseInfo .rightBox .rightBox-bottom .icon-linkedin {
        width: 1.28rem;
        height: 1.28rem;
        margin-right: 0.21333rem; }

.TabPanle_content {
  margin-top: 0.2rem;
  background-color: #162026;
  color: #e3e3e3;
  font-size: 0.37333rem; }
  .TabPanle_content .TabPanle_content_title, .TabPanle_content .TabPanle_content_text {
    padding: 0.2rem 0.53333rem; }
  .TabPanle_content .TabPanle_content_title {
    font-weight: bold; }
  .TabPanle_content .TabPanle_content_text {
    background-color: #192732;
    font-size: 0.32rem;
    line-height: 1.5em; }
    .TabPanle_content .TabPanle_content_text .cell {
      padding: 0.06667rem 0; }
  .TabPanle_content .demoLink {
    padding: 0.04rem 0; }
    .TabPanle_content .demoLink a {
      display: block;
      text-align: right;
      color: #3b98d0;
      text-decoration: underline;
      font-size: 1.1em;
      text-decoration: 1px; }
