

//使用padding-top百分比，制作等比例缩放的图片
//$horizontal:水平方向的大小（number类型）
//$vertical:垂直方向的大小（number类型）
//通过($vertical / $horizontal) * 100%;计算比例，换算为百分比$proportion
@mixin image_pdTop($horizontal: 1,$vertical:1, $position: relative, $width: 100%) {
    $proportion: ($vertical / $horizontal) * 100%;//计算比例
    padding-top: $proportion;
    width: $width;
    position: $position;
}

//the child of use padding-top's box
@mixin image_pdTop__child{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

//制作4:3的等比例缩放图片

//===html===
// <div class="parent">
//     <img src="xxx.png" />
// </div>

//===scss===
// .parent{
//     @include image_pdTop(4,3);
//     img{
//         @include image_pdTop__child();
//     }
// }

//===css===
// .parent {
//   padding-top: 75%;
//   width: 100%;
//   position: relative; }
//   .parent img {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0; }